<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TBrandMapper">

    <resultMap type="TBrand" id="TBrandResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="desc"    column="desc"    />
        <result property="img"    column="img"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="sort"    column="sort"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createUser"    column="create_user"    />
        <result property="updateUser"    column="update_user"    />
    </resultMap>

    <sql id="selectTBrandVo">
        select id, `name`, `desc`, img, del_flag, sort, create_time, update_time, create_user, update_user from t_brand
    </sql>

    <select id="selectTBrandList" parameterType="TBrand" resultMap="TBrandResult">
        <include refid="selectTBrandVo"/>
        <where>
            <if test="name != null  and name != ''"> and `name` like concat('%', #{name}, '%')</if>
            <if test="desc != null  and desc != ''"> and `desc` = #{desc}</if>
            <if test="img != null  and img != ''"> and img = #{img}</if>
        </where>
    </select>

    <select id="selectTBrandById" parameterType="Long" resultMap="TBrandResult">
        <include refid="selectTBrandVo"/>
        where id = #{id}
    </select>

    <insert id="insertTBrand" parameterType="TBrand" useGeneratedKeys="true" keyProperty="id">
        insert into t_brand
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">`name`,</if>
            <if test="desc != null">`desc`,</if>
            <if test="img != null">img,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="sort != null">sort,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createUser != null">create_user,</if>
            <if test="updateUser != null">update_user,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="desc != null">#{desc},</if>
            <if test="img != null">#{img},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="sort != null">#{sort},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="updateUser != null">#{updateUser},</if>
         </trim>
    </insert>

    <update id="updateTBrand" parameterType="TBrand">
        update t_brand
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">`name` = #{name},</if>
            <if test="desc != null">`desc` = #{desc},</if>
            <if test="img != null">img = #{img},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTBrandById" parameterType="Long">
        delete from t_brand where id = #{id}
    </delete>

    <delete id="deleteTBrandByIds" parameterType="String">
        delete from t_brand where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
