<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TProductCategoryMapper">
    
    <resultMap type="TProductCategory" id="TProductCategoryResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="pid"    column="pid"    />
        <result property="state"    column="state"    />
        <result property="effection"    column="effection"    />
        <result property="category"    column="category"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="status"    column="status"    />
        <result property="sort"    column="sort"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createUser"    column="create_user"    />
        <result property="updateUser"    column="update_user"    />
    </resultMap>

    <sql id="selectTProductCategoryVo">
        select id, name, pid, state, effection, category, del_flag, status, sort, create_time, update_time, create_user, update_user from t_product_category
    </sql>

    <select id="selectTProductCategoryList" parameterType="TProductCategory" resultMap="TProductCategoryResult">
        <include refid="selectTProductCategoryVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="pid != null "> and pid = #{pid}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="effection != null  and effection != ''"> and effection = #{effection}</if>
            <if test="category != null  and category != ''"> and category = #{category}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectTProductCategoryById" parameterType="Long" resultMap="TProductCategoryResult">
        <include refid="selectTProductCategoryVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTProductCategory" parameterType="TProductCategory" useGeneratedKeys="true" keyProperty="id">
        insert into t_product_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="pid != null">pid,</if>
            <if test="state != null">state,</if>
            <if test="effection != null">effection,</if>
            <if test="category != null">category,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="status != null">status,</if>
            <if test="sort != null">sort,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createUser != null">create_user,</if>
            <if test="updateUser != null">update_user,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="pid != null">#{pid},</if>
            <if test="state != null">#{state},</if>
            <if test="effection != null">#{effection},</if>
            <if test="category != null">#{category},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="status != null">#{status},</if>
            <if test="sort != null">#{sort},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="updateUser != null">#{updateUser},</if>
         </trim>
    </insert>

    <update id="updateTProductCategory" parameterType="TProductCategory">
        update t_product_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="pid != null">pid = #{pid},</if>
            <if test="state != null">state = #{state},</if>
            <if test="effection != null">effection = #{effection},</if>
            <if test="category != null">category = #{category},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="status != null">status = #{status},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTProductCategoryById" parameterType="Long">
        delete from t_product_category where id = #{id}
    </delete>

    <delete id="deleteTProductCategoryByIds" parameterType="String">
        delete from t_product_category where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>